<!DOCTYPE html>
<html>
  <head>
    <title>AssignmentApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render '/layouts/header' %>

    <div class="container my-2">
      <%= yield %>
    </div>
  </body>
</html>
